.wrapper {
  margin: 1rem 1.5rem;
}

.place_header {
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 800px) {
    flex-direction: column;
    align-items: flex-start;

    > div {
      margin-bottom: 1rem;
    }
  }

  .box-filter {
    display: flex;
    gap: 1rem;

    @media (max-width: 800px) {
      flex-direction: column;
      width: 100%;
      gap: .75rem;
    }

    .card {
      width: 100%;
    }
  }
}

.content {
  display: grid;
  margin-top: 1rem;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
  }
}

.card_img-header {
  max-width: 60px;
  width: 10vw;
  max-height: 60px;
  height: 10vw;

  & img {
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 0 solid;
    border-radius: 10%;
  }
}

.card_header {
  display: flex;
  width: 100%;
  padding: 3px;
  gap: 8px;
}

.card_name {
  flex-grow: 1;
  padding-right: 1rem;

  .card_name-detail {
    display: flex;
    justify-content: space-between;

    div:nth-child(2) {
      color: #134B8A;
    }
  }
}
